:root{
    --black:#211E32;
    --dark:#2A2F42;
    --green:#5AFE72;
    --white:#ffffff;
    --purple:#9A3BBA;
    --danger:#FE4E56;
    --yellow:#fbff22;
    --rotate:0deg;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    background-color: #2e2e2e;
}
.clear{
    clear: both;
}
#header{
    position:fixed;
    top:0;
    z-index: 1;
    width: 100%;
    height: 46px;
    background-color: #2d2d2d82;
}
#nav >li{
    display: inline-block;
    position: relative;
}

#nav{
    display: block;
    line-height: 38px;
    
}
#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}
#nav li a{
    font-weight:800;
    font-size: 20px;
    text-decoration: none;
    line-height: 46px;
    padding:0 24px;
    display: inline-block;
    text-align: center;
}
#nav >li>a>i{

    padding-right: 5px;
}
#header .nav-angle-down{
    text-decoration: none;
    color: #fff;
    text-align: center;
}
#header .Name a{
    text-decoration: none;
    color: #fff;
}
.menu-btn,
#header .Name{
    font-weight:800;
    color:#fff;
    float:right;
    line-height: 46px;
    padding:0 21px;
    cursor: pointer;
    font-size: 100%;
}
#header .menu-btn:hover,
#header p:hover{
    background-color:#ccc;
}
#header p:hover a,
#header p:hover a>i{
    color:#000;
}
#nav > li:hover{
    color:#000;
    background-color:#ccc;
}
#nav > li >a:hover{
    color:#000;
}
#nav > li >a:hover>i{
    color:#000;
}
#home{
    box-sizing: border-box;
    margin-top: 46px;
    padding-bottom: 625px;
    background: url('/assets/z3913314363949_d22831a7ed6f48b3f0c145dac1517316\ \(1\).jpg');
    background-size: cover;
    background-position-x: 60%;
    background-repeat: no-repeat;

}
#home .text-content{
    color: #fff;
    text-align: center;
    padding-top: 125px;
    height: 58px;
}
#home .text-heading{
    color: #fff;
    font-weight:800 ;
    font-size: 30px;
    padding-bottom: 15px;
}
#home .chay{
    color: #fff;
    font-weight:800 ;
    font-size: 20px;
}
.about{
    position: relative;
    background-color: #181212;
    width: 90%;
    height: 600px;
    margin-left: 5%;
}
.introduce{
    margin-top: 5%;
    width: 100%;
    height: 300px;
    box-sizing: border-box;
}
.member-list{
    padding-top: 50px;
    height: 100%;
}
 .member{
    float: left;
    text-align: center;
    width: calc(100%/4);
    height: 50%;
 }
 .card{
    margin: 50px;
    margin-top: 0px;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color:var(--dark);
    padding: 3px;
    border-radius: 5px;
 }
 .card::after,
.card::before{
    position: absolute;
    width: 104%;
    height: 102%;
    content:' ';
    background-image: 
        linear-gradient(
        var(--rotate),
        var(--purple),
        var(--danger)
        );
    border-radius: 6px;
    z-index: -1;
    left: -2%;
    top: -1%;
    opacity: 0;
    transition: opacity 0.5s;
}
.card:hover::before{
    opacity: 1;
}
.member-img{
    width: 70%;
    border-radius: 10px;
} 
.infor{
    padding-top: 15px;
    float: left;
    width: calc(100%/4);
}
.infor >p{
    padding-bottom: 20px;
    color: #ffffff;
}
.white{
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}
.text{
    font-size: 20px;
    color: #aaaaaa;
}
.my-self{
    color: #858585;
}
.title-s {
    font-weight: 600;
    color: #ffffff;
    font-size: 1.1rem;
}
.skill-mf{
    margin-top: 2%;
    margin-left: 5%;
    float: left;
    width: 45%;
}
.skill-mf .progress .progress-bar {
    width: 500px;
    height: 0.7rem;
    background-color: #0078ff;
}
.skill-mf .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}
.progress-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    color: var(--bs-progress-bar-color);
    text-align: center;
    white-space: nowrap;
    background-color: var(--bs-progress-bar-bg);
    transition: var(--bs-progress-bar-transition);
}
.about-me{
    padding-top: 15px;
    float: left;
    color: #fff;
    max-width: 50%;
    padding: 10px;
}
.about-heading{
    padding-bottom: 20px;
}
.about-text{
    font-size: 25px;
    color: #aaaaaa;
}
#game{
    background-color: #181212;
    width: 90%;
    height: 800px;
    padding: 5% 0;
    margin-left: 5%;
    margin-top:5%;
}
.lol,.valo{
    float: left;
    text-align: center;
    width: calc(100%/2);
}
#game p{
    padding-bottom: 20px;
}
.lol-img{
    width: 80%;
    padding-bottom: 20px;
}
#footer{
    padding:64px 16px;
    text-align: center;
    opacity: 0.6;
}
.icon{
    font-size: 20px;
}
#footer{
    background-color: #181212;
    width: 90%;
    height: 180px;
    margin-left: 5%;
    margin-top:5%;
}
#footer p{

    margin: 15px 0;
    font-size: 20px;
    color: #fff;
}
#footer i{
    font-size: 50px;
    padding: 0 10px;
}
#footer > a{
    color: #ffffff;
    font-size: 50px;
    text-decoration: none;
}
#footer > a:hover{
    color: #757575;
}@media(min-width:1023px)
{
    .menu-btn{
        display: none;;
    }
}
@media(min-width:740px) and (max-width:1023px)
{
    .menu-btn{
        display: none;;
    }
    #game{
        background-color: #181212;
        width: 90%;
        height: 450px;
        padding: 5% 0;
        margin-left: 5%;
        margin-top:5%;
    }
}
@media(max-width:740px)
{
    
    #nav >li{
        width: 100%;
        display:block;
        position: relative;
    }

    #header{
        position:fixed;
        top:0;
        z-index: 1;
        width: 100%;
        height: 46px;
        background-color: #2d2d2d82;
        overflow: hidden;
    }
    #header .menu-btn{
        float:right;
        right: 0;
        top:0;
        position: absolute;
    }
    #header .Name{
        font-weight:800;
        color:#fff;
        float:right;
        line-height: 46px;
        padding:0 21px;
        cursor: pointer;
        font-size: 100%;
        display: none;
    }


    .about{
        height: 1200px;
    }
    .introduce{
        margin-top: 5%;
        width: 100%;
        height: 500px;
    }
    .member-list{
        padding-top: 50px;
        height: 100%;
    }
     .member{
        
        text-align: center;
        width: calc(100%/1);
    }
     .member-img{
        width: 80%;
        margin-top: 15px;
        border-radius: 4px;
    }
    .infor{
        padding-left: 5%;
        margin-top: 20%;
        float: left;
        width: calc(100%/1);
    }
    .about-me{
        padding-left: 5%;
        max-width: 100%;
    }
    .skill-mf{
        margin-left: 5%;
        float: left;
        width: 90%;
    }
    #game{
        height: 850px;
    }
    .lol,.valo{
        width: calc(100%/1);
    }
    #footer{     
        height: 250px;
    }
}